name: 'Auto Assign'
on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.1.0
        if: github.event.action == 'opened'
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: ".github/auto_assign.yml"
